.locationCard {
  width: 100%;
  height: 255px;
  display: block;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.imgGradient {
  height: 100%;
}

.imgGradient::after {
  display: block;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  height: 100%;
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

.locationCard img {
  object-fit: cover;
  height: auto;
  min-width: 100%;
}

.locationCard h3 {
  position: absolute;
  bottom: 1.25rem;
  left: 1.25rem;
  color: #fff;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.5;
  max-width: calc(100% - 2.5rem);
}
