.locationList {
  margin-top: 1.25rem;
}

.locationList ul {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.25rem;
}

@media screen and (min-width: 1200px) {
  .locationList {
    background-color: #f6f6f6;
    border-radius: 25px;
    margin-top: 2.75rem;
    padding: 3rem;
  }

  .locationList ul {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3.75rem;
  }

  .locationList li {
    flex: 1;
  }
}
