header {
  display: flex;
  justify-content: space-between;
}

h1 a {
  display: flex;
  height: 3rem;
  max-width: 145px;
  justify-content: center;
  align-items: center;
}

nav ul {
  display: flex;
  gap: calc(var(--padding) / 2);
  flex-direction: row;
}

nav li a {
  text-decoration: none;
  color: var(--body-clr);
  font-size: 0.75rem;
  font-weight: 500;
  text-transform: uppercase;
}

nav .active {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  h1 img {
    height: 4.25rem;
  }

  nav ul {
    gap: 3.5rem;
  }

  nav li a {
    font-size: 1.5rem;
    text-transform: initial;
  }
}
