.carousel {
  height: 16rem;
  width: 100%;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel .medias {
  height: 100%;
  overflow: hidden;
}

.medias img {
  height: 100%;
  display: none;
  animation-duration: 300ms;
}

.medias img.visible {
  display: block;
}

.carousel button {
  border: 0;
  background: none;
  position: absolute;
}

.carousel button img {
  cursor: pointer;
}

.carousel .currentCount {
  position: absolute;
  bottom: 0.5rem;
  color: #fff;
}

.prevBtn {
  left: 0;
}

.prevBtn img {
  transform: rotate(-90deg);
}

.nextBtn {
  right: 0;
}

.nextBtn img {
  transform: rotate(90deg);
}

@media screen and (min-width: 768px) {
  .carousel {
    height: 26rem;
  }

  .medias {
    width: 100%;
  }

  .medias img {
    width: 100%;
    object-fit: cover;
  }

  .carousel button img {
    width: 3rem;
  }

  .carousel .currentCount {
    bottom: 2rem;
    font-size: 1.125rem;
  }
}
