@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;1,400&display=swap');

:root {
  --padding: 1.25rem;
  --body-clr: hsla(0, 100%, 69%, 1);
  --font: 'Montserrat';
}

body {
  padding: var(--padding);
  font-family: var(--font), sans-serif;
}

main {
  margin-top: 4rem;
}

@media screen and (min-width: 1200px) {
  body {
    max-width: 1240px;
    margin: 0 auto;
  }
}
