.banner {
  --gradient: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  height: 7rem;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.home .banner {
  background-image: var(--gradient), url(../../assets/home-banner.png);
}

.about .banner {
  background-image: var(--gradient), url(../../assets/about-banner.png);
  height: 14rem;
}

.banner h2 {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .banner {
    background-position: center 20%;
    height: 14rem;
    border-radius: 25px;
    justify-content: center;
  }

  .banner h2 {
    font-size: 3rem;
  }

  .banner br {
    display: none;
  }
}
